<div class="container-fluid">
  <div class="row">
    <div class="well pending-homepage employee-blocks">
      <h3>Pending your Confirmation</h3>

      <%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
    </div>
    <div class="col-md-5 column well pending-homepage employee-blocks">

    </div>
  </div>
</div>
