.pending-homepage {
  border-radius: 3px;
  background-color: #e3e3e3;
  margin: 20px 0px;
  padding: 20px;
}

.homepage-block {
  margin: 15px;
  padding: 15px;
  background-color: #1D3C91;
  color: white;
  border-radius: 5px;
}
